#user{
	background: white;
}
#user img{
	border-radius: 50%;
}
#user a{
	color: black;
	width: 100%;
}
#user .top p{
	margin-left: 18px;
}
#user .date{
	color: #ababab;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#user .date .day{
	font-size: 28px;
}
#user .date p{
	margin: 0;
}
#user .content{
	border-bottom: 1px solid #eee;
}
#user .content a{
	display: flex;
}
#user .content .blog{
	margin-left: 18px;
}