body{
	margin: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
pre{
	overflow-x: scroll;
}

.el-submenu__title{
	font-size: 18px;
}

.el-pagination{
	text-align: center;
}
.top{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	border-bottom: 6px solid #eee;
}
.content{
	padding: 10px 20px;
	margin-bottom: 20px;
}

.content img{
	max-width: 100% !important;
}