h2{
	margin: 0;
}
p{
	margin: 0;
}
#detail{
	background: white;
}
#detail img{
	border-radius: 50%;
}
.top div{
	margin-left: 18px;
}
.top a{
	display: flex;
	color: black;
	width: 100%;
}
.top:hover .user-link{
	border-bottom: 1px solid #409EFF;
	color: #409EFF;
}