*,*:before,*:after{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}

.el-submenu__title{
	font-size: 18px;
}

.el-pagination{
	text-align: center;
}
.top{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	border-bottom: 6px solid #eee;
}
.content{
	padding: 10px 20px;
}