section{
	display: flex;
	padding: 0 10px 0 10px;
	margin-bottom: 10px;
	transition: .4s;
	cursor: pointer;
	background: white;
}
section:hover{
	transform: translateY(-4px);
	box-shadow: 0 10px 20px #dadada;
}
figure{
	text-align: center;
	margin: 10px 20px 0 0;
	max-width: 128px;
}
figure>img{
	border-radius: 50%;
}
figcaption{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
a{
	width: 100%;
	color: black;
}
a h2{
	width: 600px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
a span{
	font-weight: normal;
	font-size: 16px;
	margin-left: 8px;
}
a p{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}